.home-header {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  row-gap: 35px;
  justify-content: center;
  align-content: center;
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-text);
  transform: rotate(-45deg);
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;

  p, h1 {
    margin: 0;
  }

  h1 {
    font-size: var(--font-size-title);
    color: var(--color-background);
  }
}
.home-intro {
  grid-column: menu-start / extra-end;
  max-width: 8em;

  &[lang="en"] {
    grid-row: 1;
    justify-self: start;
  }
  &[lang="es"] {
    grid-row: 2;
    justify-self: end;
    text-align: right;
  }

  @media (width < 700px) {
    display: none;
  }
}
.home-nav {
  grid-row: 1 / -1;
  grid-column: content-start / extra-end;
  text-align: right;
  align-self: center;
  z-index: 2;
  display: grid;
  row-gap: 1rem;
  justify-content: end;
  align-items: center;

  a {
    grid-column: 2;
  }
  svg {
    grid-column: 1;
    grid-row: span 2;
    rotate: -90deg;
  }

  a:not(:hover) {
    text-decoration: none;
  }
  path {
    stroke: var(--color-foreground);
  }

  @media (width < 700px) {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: end;
    background-color: var(--color-background);
    padding: 10px 40px;
  }
}
.ly-page:has(.home-header) {
  grid-template-rows: 1fr auto;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080"><path fill="white" d="M90,937.2l598.3-596.6c-46-81.8-109.1-136.4-172.2-136.4c-66.5,0-110.8,49.4-110.8,105.7 c0,46,35.8,95.4,90.3,129.5l-51.1,51.1C379.8,448,332,386.6,332,313.3c0-93.7,69.9-177.3,182.4-177.3c95.4,0,179,63.1,226.7,153.4 L938.9,91.7l51.1,51.1L396.8,734.3c29,78.4,97.2,141.5,168.8,141.5c76.7,0,141.5-57.9,141.5-131.2c0-56.3-37.5-107.4-90.3-138.1 l49.4-49.4c63.1,39.2,114.2,105.7,114.2,184.1c0,117.6-93.7,202.8-214.8,202.8c-98.9,0-187.5-71.6-223.3-156.8L141.1,988.3 L90,937.2z"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1080px auto;
  overflow: hidden;

  .ly-page-footer {
    grid-row: 2;
    margin: 0;

    @media (height < 1000px) {
      display: none;
    }
  }
}
