.menu {
  font-size: var(--font-size-small);

  ol {
    margin: 0;

    ol {
      list-style-type: lower-alpha;
    }
  }

  > ol > li:first-child {
    margin-top: 0;
  }

  li {
    margin-top: 1em;
  }

  a {
    text-decoration: none;
    transition: none;

    &:hover {
      text-decoration: underline;
    }

    &[aria-current="page"] {
      text-decoration: underline;
      text-underline-offset: -0.3em;
      text-decoration-thickness: 3px;
      text-decoration-skip-ink: none;
    }
  }
}
