.navigation {
  display: flex;
}

.navigation-item {
  position: fixed;
  bottom: -10px;

  &.is-next {
    right: -60px;
  }
  &.is-prev {
    left: -60px;
  }

  &::after {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    width: 306px;
    height: 306px;
    transition: clip-path var(--speed-fast);
    background-color: var(--color-foreground);
    clip-path: circle(53px at 50% 50%);
  }
  &:has(a:hover)::after {
    clip-path: circle(153px at 50% 50%);
  }
  &:hover {
    z-index: 2;
  }

  > a {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: var(--font-size-title);
    letter-spacing: var(--tracking-title);
    line-height: var(--line-height-short);
    transition: clip-path var(--speed-fast);
    outline: none;
    clip-path: circle(50px at 50% 50%);
    margin-bottom: -50px;
    position: relative;
    z-index: 1;

    > span {
      display: block;
      transform: translateX(100px);
      transition: transform var(--speed-fast);
    }

    &:hover {
      clip-path: circle(150px at 50% 50%);

      &[rel="next"] > span {
        transform: translateX(25px);
      }
      &[rel="prev"] > span {
        transform: translateX(75px);
      }
    }
  }
}
