.people {
  display: grid;
  row-gap: 40px;
}
.person {
  font-size: var(--font-size-small);
  line-height: var(--line-height-long);
  max-width: 550px;

  > a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

.person-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  shape-outside: circle(60% at 50px 50px);
  border: solid 3px currentColor;
  float: left;
  margin: 0 20px 10px 0;

  @media (width >= 600px) {
    margin-left: -120px;
  }
  @media (width >= 800px) {
    margin-left: -50px;
    shape-outside: circle(75% at 0 50px);
  }
}
