---
title: Font Licensing Mess
theme: dark
layout: layouts/base.vto
---

<header class="home-header">
  <p>A project by María Ramos and Ana Moliz</p>
  <h1>Font Licensing Mess</h1>
  <p>The need to understand and explain font licenses</p>
</header>

<nav class="home-nav">
  {{ for page of search.pages("id=introduction") }}
    <a href="{{ page.url }}">{{ page.language_name }}</a><br>
  {{ /for }}
</nav>
