.ly-page {
  display: grid;
  grid-template-columns:
    40px [menu-start] minmax(0, 1fr) [menu-end details-start] minmax(
    0,
    550px
  ) [details-end content-start] minmax(0, 550px) [content-end
  extra-start] minmax(0, 1fr) [extra-end] 40px;
  min-height: 100vh;
}

.ly-page-menu {
  grid-column: menu-start / content-start;
  padding-top: 40px;
  grid-row: 1;
  z-index: 1;
}
.ly-page-content {
  grid-column: details-start / content-end;

  @media (min-width: 600px) {
    grid-column: content-start / content-end;
  }
}
.ly-page-header {
  grid-column: details-start / content-end;

  @media (min-width: 600px) {
    justify-self: center;
  }
}
.ly-page-hero {
  grid-column: details-start / content-end;
  display: grid;
  grid-template-columns: subgrid;
  align-content: start;
  min-height: calc(100vh - 180px);
  row-gap: 40px;
  padding: 40px 0;

  @media (min-width: 600px) {
    align-content: center;
    grid-row: 1;
    .ly-page-header + .ly-page-content {
      order: -1;
    }
  }
}
.ly-page-details {
  grid-column: details-start / details-end;
}
.ly-page-chart {
  grid-column: details-start / content-end;
}

.ly-page-nav {
  position: sticky;
  bottom: 0;
  grid-column: menu-start / extra-end;
}

.ly-chart {
  display: grid;
  margin: 0;
  row-gap: 80px;
  padding-top: 80px;

  @media (width > 800px) {
    align-items: start;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.ly-chart-header {
  grid-column: 1 / 2;
  max-width: 250px;

  @media (width <= 800px) {
    justify-self: center;
  }

  @media (width > 800px) {
    position: sticky;
    top: 40px;
  }
}

.ly-chart-content {
  grid-column: 2 / -1;
}
