.ty-text {
  font-size: var(--font-size-text);
  line-height: 1.35;

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
.ty-header {
  font-size: var(--font-size-display);
  line-height: 1.1;
  letter-spacing: -0.015em;
  margin: 0;
}
