---
layout: layouts/base.vto
---

{{ include "templates/menu.vto" }}

<header class="ly-page-content">
  <h1 class="ty-header">{{ title }}</h1>
</header>

<iframe class="ly-page-map" src="https://www.google.com/maps/d/embed?mid=1br9CtuDyDHGh7I0HIjcrVp6nmp3jgAo&hl=es&ehbc=2E312F" width="640" height="480"></iframe>